.title{
    text-align: center;
    background-color: #a9c056;
    font-size: 3.25rem;
    font-weight: 300; color:#ffffff;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    height: 150px;
}